/*start reset*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, i, ol, ul, li, form, label, article, figure, figcaption, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    text-decoration: none;
    box-sizing: border-box;
    color: black;
}

ol, ul {
    list-style: none;
}

body {
    line-height: 1;
}

figcaption {
    display: none; /*esconde a legenda da imagem*/
}
/*end reset*/

/*start YASMIN*/
.reset {
    background-color: rgb(90, 228, 238);
    padding: 3px 15px;
    display: flex;
    margin: 17vw auto;
    border-color: #addeff;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .reset:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }


  @media screen and (min-width: 768px) {
    .reset{
       padding: 10px 30px;
       margin: 10vw auto;
       font-size: 25px;
    }
}















































/*end YASMIN*/
/*start PEDRO*/
.selected {
    box-shadow: inset 0 0 20px 4px yellow;
    position: relative;
}
 .hidden {
     display:none
 }

.playerSelect {
    position: absolute;
    top: 0;
}
#diskPlayerMove {
    border-radius: 100%;
    background-color: black;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: -25%;
    transform: translate(-50%, 25%);
}











































/*end PEDRO*/
/*start BEATRIZ*/
.discPlayer1{
    background-color: red;
    width: 30px;
    height: 30px;
}
.discPlayer2{
    background-color: black;
    width: 30px;
    height: 30px;
}













































/*end BEATRIZ*/
/*start RAISSA*/
body {
width: 100vw;
height: 110vw;
position: relative;
}

header {
    width: 100%;
    height: 40px;
    line-height: 40px;
}

h1 {
    font-family: 'Righteous', cursive;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
}

#lig__container {
    width: 80vw;
    height: 68.6vw;
    margin: 0 auto;
}

#lineOfPlayer {
    border: 2px solid teal;
    height: 30px;
    width: 80vw;
    text-align: center;
    line-height: 30px;
}

#lineDisk {
    border: 2px solid teal;
    height: 30px;
    width: 80vw;
    position: relative;
}

#diskPlayer {
    border-radius: 100%;
    background-color: black;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: -11%;
    transform: translate(-50%, 25%);
}

#ligTable {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 68.6vw;
}

.divCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%; /*16.67%;*/
    width: 14.28%; /*100%*/
    border: 2px solid dodgerblue;
}

.divCell {
    /* background-color: dodgerblue; */
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
}

footer {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    line-height: 30px;
}

#modalContainer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal__content {
    background-color: aquamarine;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

p {
    color:teal;
    font-weight: bold;
}

@media screen and (min-width: 768px) {

    body {
        height: 100vw;
    }

    #labirinto__container {
        width: 60vw;
        height: 51vw;
    }

    header {
        height: 80px;
        line-height: 80px;
    }

    h1 {
        letter-spacing: 2px;
        font-size: 40px;
    }
}











































/*end RAISSA*/