/*start reset*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, i, ol, ul, li, form, label, article, figure, figcaption, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    text-decoration: none;
    box-sizing: border-box;
    color: black;
}

ol, ul {
    list-style: none;
}

body {
    line-height: 1;
}

figcaption {
    display: none; /*esconde a legenda da imagem*/
}
/*end reset*/

/*start YASMIN*/

















































/*end YASMIN*/
/*start PEDRO*/
.selected {
    box-shadow: 0 0 20px 4px yellow;
}
 .hidden {
     display:none
 }















































/*end PEDRO*/
/*start BEATRIZ*/

















































/*end BEATRIZ*/
/*start RAISSA*/

















































/*end RAISSA*/